
.App {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(70, 108, 180);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b43cae;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.splash-window {
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-content {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  border: 8px solid rgba(194, 194, 16, 0.986);
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 500px;
}

.splashSearchButton {
  background-color: rgba(194, 194, 16, 0.4);
  border: 4px solid rgba(194, 194, 16, 0.4);
  border-radius: 1px;
  cursor: pointer;
  color: white;
  height: 40px;
  width: 80px;
  box-shadow: 5px 5px rgba(110, 110, 89, 0.479);
  margin-left: 10px;
}

.splashSearchButton:hover {
  background-color: rgba(238, 238, 22, 0.8);
  color: black;
}

.search-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  height: 30px;
  border: 4px solid rgba(194, 194, 16, 0.986);
  background-color: rgba(194, 194, 16, 0.4);
  color: white;
  box-shadow: 5px 5px rgba(110, 110, 89, 0.479);
}

.splash-window.fade-out {
  opacity: 0;
  transition: opacity 0.7s ease-out;
}

.splash-window.fade-in {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.splash-window {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: blue;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: red;
}

.logo {
}

.nav-elements {
  display: flex;
  padding: 10px;
  margin-left: 100px;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}



.article-section,
.video-section {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: rgba(0,0,0,0.25);
  color: white;
  height: 800px;
  margin-left: 40px;
  margin-right: 40px;
}

.article-section {
  left: 0;
  width: 40%;
  margin-right: 10px;
  z-index: 2;
}

.video-section {
  right: 0;
  width: 40%;
  margin-left: 10px;
  z-index: 2;
}

.news-section {
  width: 40%;
  margin-left: 50px;
  align-items: center;
  display: flex;
  align-content: center;
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: black;
}

.photo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.photo-gallery .carousel {
  width: 100%;
  height: 100%;

}

.photo-gallery .carousel .carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-gallery .carousel .carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.photo-gallery .carousel .carousel-control-prev,
.photo-gallery .carousel .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.photo-gallery .carousel .carousel-control-icon,
.photo-gallery .carousel .carousel-control-icon {
  color: black;
  font-size: 1.5rem;
  line-height: 1;

}

.photo-gallery .carousel .carousel-control-prev {
  left: -25px;
}

.photo-gallery .carousel .carousel-control-prev {
  right: -25px
}

.carousel-transition-enter{
  opacity: 0;
}

.carousel-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.carousel-transition-exit {
  opacity: 1;
}

.carousel-transition-exit-active{
  opacity: 0;
  transition: 500ms;
}









